/* nprogress custom style */
#nprogress .bar {
  background: #6366f1 !important; /* indigo */
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #6366f1, 0 0 5px #6366f1;
}

#nprogress .spinner {
  display: none;
}
